@media (max-width: 390px) {
  .header .logo span {
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #4a73e8;
    font-family: "Nunito", sans-serif;
    margin-top: 3px;
  }

  .header .logo img {
    max-height: 48px;
    margin-right: 6px;
  }
}

@media (max-width: 991px) {
  .esconder {
    display: none;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #013289;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #4154f1;
}
.navbar .getstarted,
.navbar .getstarted:focus {
  background: #4154f1;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
}
.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #5969f3;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #4154f1;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  display: none !important;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block !important;
    color: #012970;
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 10000;
    background: transparent;
    border: none;
    padding: 0;
    width: 30px;
    height: 30px;
  }

  .navbar ul {
    display: none;
  }

  .mobile-menu-active {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(1, 22, 61, 0.9);
    transition: 0.3s;
    z-index: 9999;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    display: block !important;
  }

  .mobile-menu-active ul {
    display: block !important;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9999;
    opacity: 1 !important;
    visibility: visible !important;
    pointer-events: auto !important;
    margin: 0;
    list-style: none;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }

  .mobile-menu-active a,
  .mobile-menu-active a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #012970;
    display: block;
    text-decoration: none;
    font-weight: 500;
  }

  .mobile-menu-active a:hover,
  .mobile-menu-active .active,
  .mobile-menu-active li:hover > a {
    color: #4154f1;
  }
}

.mobile-menu-active {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(1, 22, 61, 0.9);
  transition: 0.3s;
  z-index: 9999;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  display: block !important;
}

.mobile-menu-active ul {
  display: block !important;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
  z-index: 9999;
  opacity: 1 !important;
  visibility: visible !important;
  pointer-events: auto !important;
  margin: 0;
  list-style: none;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.mobile-menu-active a,
.mobile-menu-active a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #012970;
  pointer-events: auto !important;
  display: block;
  text-decoration: none;
  font-weight: 500;
}

.mobile-menu-active a:hover,
.mobile-menu-active .active,
.mobile-menu-active li:hover > a {
  color: #4154f1;
}

.mobile-menu-active .mobile-nav-toggle {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 10000;
  color: #fff !important;
}

.mobile-menu-active .mobile-nav-toggle.bi-x {
  color: #fff !important;
}

.mobile-menu-active .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.mobile-menu-active .dropdown ul li {
  min-width: 200px;
}

.mobile-menu-active .dropdown ul a {
  padding: 10px 20px;
}

.mobile-menu-active .dropdown ul a i {
  font-size: 12px;
}

.mobile-menu-active .dropdown ul a:hover,
.mobile-menu-active .dropdown ul .active:hover,
.mobile-menu-active .dropdown ul li:hover > a {
  color: #4154f1;
}

.mobile-menu-active .dropdown > .dropdown-active {
  display: block;
}
